.gbcredits {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.credits-group {
    border: 2px solid white;
    background-color: black;
    padding: 12px;
}

.credits-header {
    font-size: medium;
    color: gray;
}

.credits-developers {
    margin-top: 4px;

    display: flex;
    gap: 12px;
}

.credits-author {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.credits-author:hover {
    color: yellow;

    .credits-author-role {
        display: block;
    }
}

.credits-author-role {
    color: gray;
    margin: 0;
    display: none;
}